{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Registro do Cliente {% endblock %}


{% block side %}
    <div class="container">

        <div class="row">



            <div class="sidebar-sticky menu-left">
                    <form method="POST"  action ="{% url 'search'%}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input id="search_input" type="text" name="search_input">
                            <button  type="submit"  class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </form>

                <ul class="nav flex-column">
                    {% for pessoa in lista %}
                         <li class="btn btn-light" ><a href="{% url 'update' pessoa.id %}">{{pessoa.first_name}}</a>
                             <a href="{% url 'del' pessoa.id %}" class="trash-icon">
                                <i class="fas fa-trash-alt"></i>
                             </a>
                         </li>
                    {% endfor %}

                </ul>


        </div>
    </div>
{% endblock %}



{% block main %}
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formu|bootstrap }}
             <a href="{% url 'new_adress'%}" class="btn btn-primary"> Endereço
                 <i class="fas fa-plus-circle"></i>
             </a>

        <button type="submit" class="btn btn-primary">Salvar <i class="far fa-save"></i></button>
            <a href="{% url 'new' %}" class="btn btn-primary">Cliente <i class="fas fa-plus-circle"></i></a>
        </form>
{% endblock %}

