body {
    background: white url("circuitobite.jpg");

}


.trash-icon {
    float: right;

}

.menu-left {
    float: left;
}

.list-cli {
    align: left;
}

.menu-topo {
    background-color: rgba(0,123,255,.25);
}


.form-central {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 255, 184, 0.42);
    border-radius: .3rem;
}